<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kotlin.study.shopping">

    <application
        android:name="com.example.shopping.ShoppingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_shopping"
        android:label="쇼핑 앱"
        android:roundIcon="@drawable/ic_shopping"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoppingapp">
        <activity android:name="com.example.shopping.presentation.my.auth.AuthActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity
            android:name="com.example.shopping.presentation.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>